# URL backend-node (termasuk /api di belakangnya)
# Contoh: https://backend-node-production.up.railway.app/api
VITE_API_URL=http://localhost:5000/api

# URL backend-node untuk Socket.io (TANPA /api)
# Contoh: https://backend-node-production.up.railway.app
VITE_SOCKET_URL=http://localhost:5000

# URL backend-node untuk mengambil gambar/foto (TANPA /api)
# Contoh: https://backend-node-production.up.railway.app
VITE_BACKEND_URL=http://localhost:5000
